@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.gradient-background {
  background: linear-gradient(to right, #c9b2f6 0%, #915fd1 55%, #6109d9 100%);
}

.celestial-color {
  background-color: #24014e;
}

/*=============LANDING PAGE=================*/
.homepage {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.homepage h1 {
  font-weight: 900;
}

.homepage img {
  height: 100vh;
}

.landing-message {
  margin-top: 27vh;
  margin-left: 8vh;
  width: 40%;
}

.homepage span {
  background-color: #24014e;
  padding: 0.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 2rem;
  cursor: pointer;
}
.linkButtons span:hover {
  background-color: #41295e;
}

/*=====================LANDING PAGE NAVBAR===================*/
.smallnavbar {
  left: 20px;
  border-radius: 20px;
  height: 60px;
  padding-left: 100px;
  text-decoration: none;
}
.smallnavbar .active {
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #24014e;
  border-radius: 20px;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: #24014e !important;
}
.navbar .active a {
  color: white !important;
  text-decoration: none;
}

/*========= FORM BANNER ==========*/
.form-banner img {
  width: 100%;
  height: 100%;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form-inside-container {
  position: relative;
  background: rgba(255, 255, 255, 0.167); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply blur effect to the background */
  border-radius: 20px; /* Optional: rounded corners */
  padding: 70px;
}
/*
============= loader===========
*/

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: red;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0 deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*=============================navbar=======================================*/
.navbar {
  background-color: white;
  color: black !important;
}
.nav-link,
.navbar-brand {
  background-color: white !important;
  color: black !important;
}

/* ================Slot Count box==========================*/
.status-table-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Adjust the gap between the box and table */
}

.box {
  align-items: center;
  flex: 1; /* Takes up available space */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: fit-content;
  width: fit-content;
}

.table-container {
  flex: 3; /* Takes up more space */
}

.flex-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f4f4f4;
  text-align: left;
}
